html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1 {

}

#scrollContainer{
  height: 100vh;
  width: 100vw;
  // overflow: none;
}

section{
  height: 25vh;
}
