$transitionTime: 800ms;

@mixin for-small-up {
  @media (min-width: 200px) { @content; }
}

@mixin for-medium-up {
  @media (min-width: 760px) { @content; }
}

@mixin for-mediumLarge-up {
  @media (min-width: 1023px) { @content; }
}

@mixin for-large-up {
  @media (min-width: 1256) { @content; }
}

@mixin for-giant-up {
  @media (min-width: 1800px) { @content; }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: black;
  color: white;
  height: 100vh;
}

a {
  color: white;
  text-decoration: underline;
}

h1 {
  font-size: 10vw;
  line-height: 10vw;
  height: 10vw;
  padding: 0;
  margin: 0;
  font-weight: 400;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 999;
  &#top {
    // top: -2.55vw;
    top: 0.2vw;
    transform: translateY(-5vw);
  }

  &#bottom {
    bottom: -0.2vw;
    transform: translateY(5vw);
  }
}

#scrollContainer {
  position: fixed;
  height: 300vh;
  top: -100vh;
  width: 100vw;
  will-change: transform;
}

section{
  height: 100vh;
  position: relative;
}

.moveUp {
  transform: translateY(-100vh);
  transition: $transitionTime;
}

.moveDown {
  transform: translateY(100vh);
  transition: $transitionTime;
}

.reset {
  transform: translateY(0px);
  transition: 0;
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-wrapper {
  position: relative;
  max-width: 90vw;
  max-height: 70vh;
}

.caption {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 0rem;
  transform: translateY(100%);
  display: block;
  @include for-medium-up {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0rem;
  }
  a {
    text-decoration: underline;
  }
}

.slide-img {
  max-height: 70vh;
  max-width: 90vw;
  width: auto;
  height: auto;
  position: relative;
}

.about-slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.about-content {
  max-width: 1100px;
  text-align: center;
  padding: 0 2.5rem 0 2.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  @include for-medium-up {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.info, .copyright {
  letter-spacing: 0.115rem;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  a { text-decoration: none; }
  @include for-medium-up {
    font-size: 1.6rem;
  }
}

.info {
  padding-top: 0rem;
  padding-bottom: .25rem;
  @include for-medium-up {
    padding-top: 0rem;
  }
}

.copyright {
  padding-bottom: 0;
  opacity: 0.2;
}

.about-contact {
  padding-top: 20px;
  padding-bottom: 40px;
}

.pauseOnHover {
  z-index: 999;
}

.pauseElement{
  display: block;
  content: '';
  width: 90vw;
  height: 70vh;
  position: relative;
  border: 1px solid blue;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.showCaption {
  opacity: 1;
  transition: opacity 250ms;
}

.hideCaption {
  opacity: 0;
  transition: opacity 250ms;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background-color: black;
  pointer-events: none;
  transition: opacity 400ms;
  opacity: 1;
  z-index: 999;
}

.loadingOn {
  opacity: 1;
}

.loadingOff {
  opacity: 0;
  z-index: 999;
}

#noMatch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
